.chaos {
	margin: auto;
	border-top: 10px solid #888888;
	color: white;
	width: 500px;
	height: 350px;
	vertical-align: middle;
	background-color: #8470FF;
	font-size: 36px;
	border-radius: 10px;
}
body { 
	background: url(fon.jpg); 
}
label {
	font-size: 20px;
}
.b1 {
	background: navy;
	color: white;
	font-size: 20pt;
	border-radius: 30px;
}
.b2 {
	border-radius: 10px;
}